//Main font, futura
@font-face {
    font-family: 'futura'; 
    src: url('../fonts/futura_bold.otf') format('opentype'), url('../fonts/futura_bold.woff') format('woff'), url('../fonts/futura_bold.woff2') format('woff2'); 
    font-display:swap; 
    font-style:normal; 
    font-weight:700; 
    font-stretch:normal
 }

@font-face {
    font-family: 'futura';
    src: url('../fonts/futura.otf') format('opentype'), url('../fonts/futura.woff') format('woff'), url('../fonts/futura.woff2') format('woff2');
    font-display:swap; 
    font-style:normal; 
    font-weight:400; 
    font-stretch:normal
}

@font-face {
    font-family: 'futura';
    src: url('../fonts/futura_italic.otf') format('opentype'), url('../fonts/futura_italic.woff') format('woff'), url('../fonts/futura_italic.woff2') format('woff2');
    font-display:swap; 
    font-style:italic; 
    font-weight:400; 
    font-stretch:normal
}

// Title font, Bodoni
@font-face {
    font-family: 'bodoni';
    src: url('../fonts/bodoni.otf') format('opentype'), url('../fonts/bodoni.woff') format('woff'), url('../fonts/bodoni.woff2') format('woff2'); 
    font-display:swap; 
    font-style:normal; 
    font-weight:400; 
    font-stretch:normal
}

h1, h2, h3, h4 {
    font-family: 'bodoni'; 
}

h3 {
    font-size: 1.8rem;
}

p {
    font-family: 'futura';
    font-weight: 400;
    font-size: 1.2em;
}

a {
    color: black;
    text-decoration: none;
}