@import "colors", "resets", "typography";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

header {
    display: flex;
    position: fixed;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    z-index: 2;
    background-color: rgb(256,256,256);
    width: 100%;
}

nav {
    width: 100%;
}

#logo {
    margin: 1rem;
    height: 3rem;
}

.flex {
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    // overflow: hidden;
    display: flex;
    align-items: center;
    li {
        height: auto;
        // display: flex;
    }
}

.links {
    display: flex;
    justify-content: center;
    position: relative;
}

.container {
    display: inline-block;
    padding: 0px 20px;
}

.links a {
    transition: all 0.3s ease 0s;
    position: relative;
    display: inline-block;
    font-family: "Futura";
    font-size: 20px;
    text-decoration: none;
    color: black;

    padding: 1.8rem;
}

.drop-content {
    display: none;
    position: absolute;
    top: 100%;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.drop-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.hero__banner {
    display: flex;
    text-align: center;
    height: 90vh;
    width: 100%;
    background-image: url("/produktmapp/image/mattematik.jpg");
}

.links:hover .drop-content {
    display: block;
    animation: growDown 300ms ease-in-out forwards;
    transform: translateY(0);
}

.title__wrapper {
    margin: auto auto auto 10%;
    background-color: rgba(0,0,0,.65);
}

.hero__title {
    font-size: 8.5rem;
    color: white;
}

.hero__subtitle {
    color: white;
    font-weight: lighter;
    font-size: 2rem;
    margin: 1em;
}

.table {
    background-color: rgba(255, 255, 255, 0.9);
    float: right;
    padding: 1rem;
    margin-right: 10rem;
    border-radius: 0.2rem;

    /* Animera in uppifrån */
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(40%);

    th {
        text-align: left;
    }

    .table--vertical {
        &-line {
            border-right: 1px solid black;
        }
    
        &-text {
            writing-mode: vertical-lr;
            width: 1.2rem;
        }
    }
    
    .table--horizontal {
        &-line {
            border-bottom: 1px solid black;
        }
    }

    .table--spacer {
        padding-top: 0.5rem;
    }

}

section {
    h2 {
        margin: 1rem 0 0 1rem;
        font-size: 2.5rem;
    }
}

.dinaar {
    margin: 2rem;
    // background-image: linear-gradient(rgb(22,87,93), rgb(34,28,65));
    //background-color: rgb(34, 28, 65);
    // color: white;

    img {
        max-width: 100%;
    }

    h3 {
        font-size: 1.8rem;
    }
    
    &__wrapper {
        display: flex;
        flex-flow: row;

        div {
            max-width: 40%;
            margin: 1rem;
        }

        p {
            font-size: 1.2em;
        }
    }
}

.studier {
    height: 100vh;
    // width: 100vw;
}

.col {
    height: 50%;
    width: 100%;
    display: flex;
    flex-flow: row;
}

.col-textholderwrapper {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    // margin: auto;
}

.col-textholder {
    width: 80%;
    // margin: auto 5% auto 5%;
    // display: flex;
    // align-items: flex-start;
    // justify-content: center;
    // flex-direction: column;
}

.studier-bild {
    width: 50%;
    object-fit: fill;
}

.studier-header {
    font-size: 3em;
}

.studier-text {
    font-size: 1.1em;
    // word-break: break-all;
}

.larare {
    margin: 2rem;

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        
        div {
            margin: 1rem;

            img {
                max-width: 8vw;
            }
        }
    }

}

@media screen and(max-width: 1650px) {
    .title__wrapper {
        margin: auto;
    }
    .tablecontainer {
        display: none;
    }
    .dinaar__titel {
        font-size: 2.5em;
        text-align: center;
    }
    .dinaar__wrapper {
        flex-flow: column;
        align-items: center;
    }
}

@media screen and(max-width: 975px) {
    .dinaar__wrapper div{
        max-width: 80%;
    }
    .col:first-of-type {
        flex-flow: column;
    }
    .col:last-of-type {
        flex-flow: column-reverse;
    }

    .col {
        height: 0%;
        align-items: center;
    }

    .studier {
        height: 0%;
    }

    .studier-bild {
        margin: 3%;
    }

    .col-textholderwrapper {
        width: 80%;
    }
}

@media screen and(max-width: 500px) {
    .dinaar__titel {
        font-size: 1.8em;
    }
    .dinaar__wrapper div{
        max-width: 100%;
    }
    .dinaar__wrapper p {
        font-size: 0.9em;
    }
    .studier-header {
        font-size: 2em;
        text-align: center;
    }
    .col-textholderwrapper {
        width: 100%;
    }

}

.footer 
{
    color: white;
    background-color: $watma-blue;
    font-family: 'futura';
    font-weight: 400;
    font-size: large;

    h5 {
        font-size: large;
        font-weight: 700;
    }

    &__top {
        display: flex;
        align-items: flex-start;
    }
    
    &__container {
        display: inline-block;
        padding: 6rem;
    }
    
    &__logo {
        display: flex;
        flex-flow: column;
        align-items: center;
        
        img {
            width: 150px;
        }
    }

    &__shortcuts {
        display: flex;
        flex-flow: column;
    }

    &__shortcuts>* {
        margin: 0.3rem;
    }

    a {
        color: white;
    }
}

.hidden {
    display: none;
}